<form method="post" action="/perfectSquare">
    
    <input class='btn btn-primary' type='submit' value='Perfect Square'>
   
    <input type="text" name="num" value="">

</form>

<form method="post" action="/skyscraper">
    
    <input class='btn btn-primary' type='submit' value='Skyscrapers'>
   
    <input type="text" name="clues" value="">

</form>

<form method="post" action="/rectangleTriangles">
    
    <input class='btn btn-primary' type='submit' value='Rectangle Triangles'>
   
    <input type="text" name="points" value="">

</form>

<form method="post" action="/projectile">
    
    <input class='btn btn-primary' type='submit' value='Projectile'>
   
    <input type="text" name="sides" value="">

</form>

